
*.pyc

.idea/workspace.xml

.idea/workspace.xml

weights-improvement-01-0.0789.hdf5

KeraLSTM.py.bak

LSTMTrain.py.bak

weights-improvement-00-0.0795.hdf5

weights-improvement-00-0.0876.hdf5.2layer

weights-improvement-00-0.0793.hdf5

weights-improvement-02-3.0053.hdf5.2layer
